h1 {
  display: block;
  text-align: center;
}

h3 {
  margin: auto;
  text-align: center;
}

h5 {
  text-align: center;
}

body {
  background-color: #CEF6F5;
}

nav {
  position: relative;
}

/*.jumbotron {
  color: #FAFAFA;
  color: #01A9DB;
}*/

.jumbotron {
  position: relative;
  background: #D8D8D8 url("jumbotron-bg.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.signin {
  width: 15%;
  padding: 10px;
  margin: auto;
}

.signup {
  width: 15%;
  padding: 10px;
  margin: auto;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}

.comments-list .media{
  border-bottom: 1px dotted #ccc;
}

.newproject {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.solutions {
  margin: auto;
  width: 90%;
}

p {
  text-align: center;
}

textarea {
  width: 40%;
  height: 10em;
  border-radius: 1em;
}

ul {
  margin: auto;
}

table {
  margin: auto;
}

.button {
  text-align: center;
}

.error {
  padding-left: 510px;
}

.tag {
  text-align: center;
}