<h1>Public Wall</h1>

<<<<<<< HEAD
<h5>Here is a list of all current project discussions.</h5>
=======
<h1>Public Wall</h1>
>>>>>>> branch_eleven

<br/>

<% @projects.each do |project| %>
	<h1><a href='/project/<%= project.id %>'><%= project.project_name %></a></h1>
	<br/>
<% end %>




