<h1> create new project </h1>



<form method="post" action ="/project">

<div>
  <label>Project Name</label>
  <input type= "text" name="project_name">
</div>

<div>
  <label>People Involved</label>
  <input type="text" name="people_involved">
</div>

<div>
  <label>Project Idea</label>
  <input type="text area" name="project_idea">
</div>

<div>
  <label>Project Problem</label>
  <input type="text area" name="project_problem">
</div>

<div>
<label>Project Solution</label>
  <textarea rows="4" cols="50"></textarea>
</div>

</form>
