<h1>Create New Project</h1>

<% if @project.errors.any? %>
  <div>
    <strong>There are some issues with the project creation:</strong>
    <ul>
      <% @project.errors.full_messages.each do |project| %>
        <li><%= project %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action ="/projects">
<div class="newproject">
  <div>
    <h3>Project Name</h3>
    <textarea rows="1" cols="58" name="project_name"></textarea>
  </div>
</div>

<div class="newproject">
  <div>
    <h3>Project Idea</h3>
    <textarea rows="10" cols="58" name="project_idea"></textarea>
  </div>
</div>

<div class="newproject">
  <div>
    <h3>Project Problem</h3>
    <textarea rows="10" cols="58" name="project_problem"></textarea>
  </div>
</div>


<div>
  <label>Tag 1</label>
    <input type="text" name="tag1">
</div>

<div>
  <label>Tag 2</label>
    <input type="text" name="tag2">
</div>

<div>
  <label>Tag 3</label>
    <input type="text" name="tag3">
</div>


<br/>
<div class="button">
  <input class="btn btn-info" type="submit" value="Create New Project">
</div>
</form>
