<h1>Create New Project</h1>

<% if @project.errors.any? %>
  <div>
    <strong>There are some issues with the project creation:</strong>
    <ul>
      <% @project.errors.full_messages.each do |project| %>
        <li><%= project %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="get" action ="/projects">

<div class = "panel panel-primary">
  <label>Project Name</label>
   <textarea rows="1" cols="58"></textarea>
</div>

<div class = "panel panel-primary">
  <label>Project Idea</label>
  <textarea rows="10" cols="58"></textarea>
</div>

<div class = "panel panel-primary">
  <label>Project Problem</label>
  <textarea rows="10" cols="58"></textarea>
</div>

<input class="btn btn-info" type="submit" value="Create New Project">

</form>
