<h1>User Account</h1>
<br/>

<h1><a href='/projects/new'>Create Project</a></h1>

<h4>Your Projects</h4>

<form action="/projects/new" 	method="get">
  <button name="New Project"

  <nav class="navbar navbar-default">

<% @user.projects.each do |project| %>

<a href='project/<%= project.id %>'><%= project.project_name %></a>

<% end %>

