<h1>Sign-in to Account</h1>

<% if @incorrect %>
  <h5> Login information does not match any account </h5>
<% end %>

<div class="signin">
  <form action="/signin" method="POST">
    <div>
      <label>Email:</label>
        <input name="email" type="text" />
    </div>
    <br/>
    <div>
      <label>Password:</label>
        <input name="password" type="password" />
    </div>
    <br/>
    <input type="submit" value="Submit" />
  </form>
</div>