<h1>Sign-in to Account</h1>

<% if @user.errors.any? %>
  <div>
    <strong>Some issues with your user, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
        <li><%= user %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="signin">
  <form action="/signin" method="POST">
    <div>
      <label>Email:</label>
        <input name="email" type="text" />
    </div>
    <br/>
    <div>
      <label>Password:</label>
        <input name="password" type="password" />
    </div>
    <br/>
    <input type="submit" value="Submit" />
  </form>
</div>